@using MK.Easydoc.WebApp.Controllers
@{
    ViewBag.Title = "Manutenção de Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var IdUsuarioAtual = Session["UsuarioAtual_ID"];
} 
<style>
    .margin-top{
        margin-top:10px;
    }
    .usu {
        color:black;
    }
    td{
        text-align:left;
    }
    .margin-top-botaolimpar{
        margin-top:25px;
    }
</style>

<div class="panel-heading">
    <h4 class="panel-title"><i class="fa fa-users"></i>&nbsp;@ViewBag.Title</h4>
</div>

<div class="container-fluid">

    <div class="row margin-top">
        <div class="col-lg-10">
            @using (Html.BeginForm("ListaUsuarios", "Usuario"))
            {
                @*<div class="well">*@
                <div class="row">
                    <div class="col-lg-2">
                        <label>Pesquisa por:</label>
                        <select class="form-control" id="selTipo" name="selTipo">
                            <option value="0" selected="selected">Selecione</option>
                            <option value="1">Nome</option>
                            <option value="2">Login</option>
                            <option value="3">Cpf</option>
                            <!--<option value="4">Cliente</option>
                            <option value="5">Serviço</option>-->
                        </select>
                    </div>

                    <div class="col-lg-2">
                        <label>Condição:</label>
                        <select class="form-control" id="selCondicao" name="selCondicao">
                            <option value="1" selected="selected">=</option>
                            <option value="2">Contém</option>
                        </select>
                    </div>

                    <div class="col-lg-4">
                        <label>Valor:</label>
                        <div class="input-group">
                            @*<span class="input-group-addon" id="basic-pesq"><i class="fa fa-search"></i></span>*@
                            <span class="input-group-addon" id="basic-vlct"><i class="fa fa-lock"></i></span>
                            <input type="text" data-toggle="tooltip" title="Digite aqui dados para pesquisar" id="txtpesquisa" name="txtpesquisa" class="form-control" placeholder="Digite aqui" maxlength="50" required />
                            <span class="input-group-btn">
                                <input type="submit" id="btnpesq1" value="Pesquisar" class="btn btn-default" onmouseover="" />
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <input type="button" id="btnLimpar" value="Limpar" class="btn btn-warning margin-top-botaolimpar" onmouseover="" />
                    </div>
                    <div class="col-lg-2 margin-top-botaolimpar">
                        <a href="@Url.Content("~")Seguranca/Usuario/Novo" class="btn btn-success"><i class="fa fa-user"></i>&nbsp;Cadastrar Novo Usuário</a>
                    </div>
                </div>


            }
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <hr/>
                <div class="table-responsive">
                    <table id="tblUsuarios" class="table table-striped table-hover table-condensed">
                      <thead>
                       <tr>
                        <th>Nome</th>
                        <th>Serviço</th>
                        <th>Login</th>
                        <th>Perfil</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                       </tr>
                      </thead>
                        @*<th>Detalhes</th>
                <th>Bloquear</th>
                <th>Editar</th>
                <th>Excluir</th>*@
                        
                        @if (ViewBag.ListaUsuarios != null)
                        {
                            foreach (var lst in ViewBag.ListaUsuarios)
                            {
                                <tr id="lin_@lst.ID@lst.ServicoID@IdUsuarioAtual">
                                    <td>@lst.NomeCompleto</td>
                                    <td>@lst.NomeServico</td>
                                    <td>@lst.NomeUsuario</td>
                                    <td>@lst.Perfil</td>
                                    <td><a href="@Url.Content("~/Seguranca/Usuario/ListaDetalheUsuario/")?idUsuarioDetalhe=@lst.ID" class="usu"><i class="fa fa-list-alt fa-lg" data-toggle="tooltip" title="Detalhes"></i></a></td>
                                    <td><i class="fa fa-lock fa-lg" id="bloq_@lst.ID" data-toggle="tooltip" title="Bloquear" bloqueado="@lst.Bloqueado" onclick="Bloquear(@lst.ID,this)"></i></td>
                                    <td><a href="@Url.Content("~/Seguranca/Usuario/EditarUsuario/")?nomeUsuario=@lst.NomeUsuario&&idServico=@lst.ServicoID&&idPerfil=@lst.PerfilID" class="usu"><i class="fa fa-edit fa-lg" data-toggle="tooltip" title="Editar Usuário"></i></a></td>
                                    <td><a href="@Url.Content("~/Seguranca/Usuario/EditarServico/")?idUsuario=@lst.ID" class="usu"><i class="fa fa-pencil fa-lg" data-toggle="tooltip" title="Editar Serviço"></i></a></td>
                                    <td><a href="#" class="usu"><i class="fa fa-trash-o fa-lg" data-toggle="tooltip" title="Excluir" onclick="ConfirmaExcluirUsuario(@lst.ID,@lst.ServicoID,@IdUsuarioAtual )"></i></a></td>
                                </tr>
                            }
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Exclusão de Usuário</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Deseja realmente excluir ?</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnExcluir" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i>&nbsp;Excluir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close fa-lg"></i>&nbsp;Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
            <input type="hidden" id="hdn_linha" name="hdn_linha" />
            <input type="hidden" id="hdn_idusu" name="hdn_idusu" />
            <input type="hidden" id="hdn_idserv" name="hdn_idserv" />
            <input type="hidden" id="hdn_idusuatual" name="hdn_idusuatual" />
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script>
    $().ready(function () {
        $('#pnlHeader').slideUp('slow');
        //$("#tblUsuarios").DataTable();
        $("#tblUsuarios").DataTable({
            language: { "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
          }
        );

            $('[data-toggle="tooltip"]').tooltip();

            $('#btnLimpar').click(function() {
                $('table tr').empty();
            });

            $('i[id^=bloq_]').each(function(e){
                if($(this).attr('bloqueado')=='0')
                    $(this).css('color', 'black');
                else
                    $(this).css('color', 'red');
            });

            $("#btnExcluir").click(function () {
                $.ajax({ type: "POST", dataType: "json",
                    url: "/Seguranca/Usuario/AjaxExcluirUsuario",
                    data: { idUsuario: $("#hdn_idusu").val(), idServico: $("#hdn_idserv").val(), idUsuarioAtual: $("#hdn_idusuatual").val() },
                    success: function (data) {
                        
                        $(data).each(function(){
                            if(this.CodigoRetorno==0){
                                
                                $("#lin_" + $("#hdn_idusu").val() + $("#hdn_idserv").val() + $("#hdn_idusuatual").val()).attr('class','selected');
                                var table = $('#tblUsuarios').DataTable();
                                table.row('.selected').remove().draw( false );

                                //$("#lin_" + $("#hdn_idusu").val() + $("#hdn_idserv").val() + $("#hdn_idusuatual").val()).remove().draw( false );
                                exibirmsg(this.Mensagem);
                            }
                            else{exibirmsgatencao(this.Mensagem);}
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        var erro = JSON.parse(xhr.responseText);
                        console.log(erro.Message);
                    }
                });

                $("#modalExcluir").modal('hide');
            });

   });

   function Bloquear(idusuario, campo) {
       var tipo = $("#" + campo.id).attr('bloqueado');

       //alert(idusuario);
       var msg = "";
       if (tipo == 0) { msg = "bloquear" } else { msg = "desbloquear"; }

       if (confirm("Deseja realmente " + msg + " ?")) {
           $.ajax({
               url: "/Seguranca/Usuario/BloquearUsuario",
               data: { idUsuBloqueado: idusuario },
               success: function () {
                   if (tipo == 0) {
                       exibirmsg('Usuário bloqueado.');
                       $('#bloq_' + idusuario).attr('bloqueado', '1').css('color','red');
                   }
                   else {
                       exibirmsg('Usuário desbloqueado.');
                       $('#bloq_' + idusuario).attr('bloqueado', '0').css('color', 'black');
                   }
               },
               error: function () {
                   exibirmsgatencao('Erro ao tentar bloquear usuário');
               }
           });
       }
   }

   function ConfirmaExcluirUsuario(idUsu, idServico, idUsuAtual) {
       $("#modalExcluir").modal('show');
       //Preencher campos ocultos
       $("#hdn_idusu").val(idUsu);
       $("#hdn_idserv").val(idServico);
       $("#hdn_idusuatual").val(idUsuAtual);
   }

</script>
    }


