@model MK.Easydoc.Core.Entities.Documento

@{
    ViewBag.Title = "Digitacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<script src="~/Assets/plugins/iviewer-master/jquery.iviewer.min.js"></script>
    <link href="~/Assets/plugins/iviewer-master/jquery.iviewer.css" rel="stylesheet" />*@

@*<script src="~/Assets/js/app-scripts/digitar.js"></script>
<link href="~/Assets/plugins/guillotine-master/css/jquery.guillotine.css" rel="stylesheet" />
<script src="~/Assets/plugins/guillotine-master/js/jquery.guillotine.js"></script>
<script src="~/Assets/plugins/jquery/jquery.media.js"></script>
<script src="~/Assets/plugins/jquery/jquery.mask.js"></script>
*@

@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>*@

<!--Andre 27102015-->
<script src="~/Assets/plugins/iviewer-master/jquery.iviewer.min.js"></script>
<link href="~/Assets/plugins/iviewer-master/jquery.iviewer.css" rel="stylesheet" />
<script src="~/Assets/js/app-scripts/digitar.js"></script>
<script src="~/Assets/plugins/pdfSlider/pdfSlider.js"></script>
<link href="~/Assets/plugins/pdfSlider/pdfSlider.css" rel="stylesheet" />

<style>
    #container {
        overflow: auto;
        /*-webkit-overflow-scrolling: touch;*/
        height: 800px;
    }

    .digitarcampos{
        width:88%;
    }
    object {
        width: 800px;
        height: 800px;
    }

    .viewer_tmp {
        /*width: 100%;
        height: 100%;
        border: 1px solid black;
        margin: 0;
        padding: 0;
        position: relative;
            vertical-align: top;
        */
        /*
        border: 10px solid red;
        vertical-align:top ;
       position: fixed;
       top: -500px;
       right: 0px;*/
    }

     .viewer {
        width: 100%;
        height: 1024px;
        border: 1px solid black;
        position: relative;
    }

    .wrapper {
        overflow: hidden;
    }

    .top_aligned_image {
        width: 91.66666667%;
        vertical-align: top; /* or text-top, I can't remember for sure which works better */
    }

    img1 {
        vertical-align: top;
        vertical-align: text-top;
        border: 10px solid red;
    }
</style>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "ls-form ls-form-inline row" }))
    {
        <input type="hidden" id="IdDocumento" value="@Model.ID" />
        <input type="hidden" id="IdDocumentoModelo" value="@Model.Modelo.ID" />
        if (Model.ID != 0)
        {

           <div class="ls-box ls-board-box">
            <div class="row">
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="ls-box-group">
                            <div class="ls-box ls-board-box">
                                <fieldset>
                                    <div class="wrapper col-md-12">
                                        <div class="ls-box-group">
                                            <div class="col-md-12">
                                                <div id="viewer" class="viewer"></div>
                                            </div>

                                            <div class="col-md-1 ls-no-margin ls-no-padding ls-float-right ">
                                                <a id="in" href="#" class="ls-ico-zoomin"></a><br>
                                                <a id="out" href="#" class="ls-ico-zoomout"></a><br>
                                                <a id="fit" href="#" class="ls-ico-screen"></a><br>
                                                <a id="orig" href="#" class="ls-ico-spinner"></a><br>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>



                            @foreach (MK.Easydoc.Core.Entities.DocumentoImagem _arquivos in Model.Arquivos)
                            {
                                <input id="arq" type="hidden" value="@_arquivos.CaminhoArquivo" />
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    @*<header class="ls-info-header">*@

                    @*<h2 class="ls-title-3 ls-ico-images"><strong>@Html.DisplayFor(model => model.Modelo.Rotulo)</strong> ID: @Model.ID</h2>
                <h5 class="lls-label-text"> @Html.Raw(ViewData["Det"].ToString())</h5>*@
                    <div class="col-lg-10">
                        @foreach (MK.Easydoc.Core.Entities.CampoModelo _campo in Model.Modelo.Campos)
                        {
                        <div class="row">
                            <b class="ls-label-text">@_campo.Rotulo</b>
                            @if (Model.StatusDocumento == 1010)
                            {
                            <input type="@_campo.ControleWEB" id="txtcampo_@_campo.IndexUI" name="@_campo.Rotulo" rotulo="@_campo.Rotulo" campo="@_campo.ID" class="@_campo.ClasseCSS form-control" tabindex="@_campo.Tabulacao" value="@_campo.Valor" maxlength="@_campo.MaxLength" readonly="true" />
                            }
                            else
                            {
                                if (_campo.Requerido)
                            {
                            <input type="@_campo.ControleWEB" id="txtcampo_@_campo.IndexUI" name="@_campo.Rotulo" rotulo="@_campo.Rotulo" campo="@_campo.ID" class="@_campo.ClasseCSS form-control" tabindex="@_campo.Tabulacao" value="@_campo.Valor" maxlength="@_campo.MaxLength" required="required" />
                            }
                            else
                            {
                            <input type="@_campo.ControleWEB" id="txtcampo_@_campo.IndexUI" name="@_campo.Rotulo" rotulo="@_campo.Rotulo" campo="@_campo.ID" class="@_campo.ClasseCSS form-control" tabindex="@_campo.Tabulacao" value="@_campo.Valor" maxlength="@_campo.MaxLength" />
                            }
                        }

                        </div>
                        }
                    </div>


                    <div class="row">&nbsp;</div>
                    <p>
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="nav navbar-btn">
                                    <input id="some-id" name="some-id" type="hidden" value="@(ViewData["dupliciadade"]);" />
                                    @if (Model.StatusDocumento == 1000)
                                    {
                                <input type="hidden" id="txtstatus" value="1000" />
                                <a id="btn_salvar" class="btn btn-primary btn-sm" href="#"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Aprovar</a>
                                <a id="btn_supervisor" class="btn btn-info btn-sm" href="#"><i class="glyphicon glyphicon-check"></i>&nbsp;Enviar Supervisão</a>
                                    }
                                    else if (Model.StatusDocumento == 1020)
                                    {
                                <input type="hidden" id="txtstatus" value="1020" />
                                <a id="btn_Aprovar" class="btn btn-success" href="#"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aprovar</a>
                                <a id="btn_excluir" class="btn btn-danger" href="#"><i class="glyphicon glyphicon-trash"></i>&nbsp;Excluir</a>
                                    }
                                    else if (Model.StatusDocumento == 1010)
                                    {
                                <input type="hidden" id="txtstatus" value="1010" />
                                <a id="btn_voltapesquisa" class="btn btn-info" href="#"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Voltar a pesquisa</a>
                                <a id="btn_enviaSupervisaoLiderado" class="btn btn-primary" href="#"><i class="glyphicon glyphicon-check"></i>&nbsp;Enviar Supervisão</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            
        </div>
    
    
    
    
        }
        else
        {
        <div class="col-md-12">
            <header class="">
                <div id="msgatencao" class="alert alert-warning" role="alert">
                    <i class='glyphicon glyphicon-ok'></i><strong>Aguarde!,&nbsp;</strong><label>Procurando documento a digitar...</label><span></span>
                    <button type='button' id='btnfecharprocurando' class='close' aria-label='Close'><span>&times;</span></button>
                    <img src="~/Images/carregando.gif" class="text-center" />
                </div>
            </header>
        </div>
    }

    <div class="ls-modal fade test" id="modal-resultado-digitacao">
        <div class="ls-modal-box">
            <div class="ls-modal-header">
                <button id="btnClose" data-dismiss="modal">&times;</button>
                <h4 class="ls-modal-title">Atenção!</h4>
            </div>
            <div class="ls-modal-body" id="myModalBody">
                <p style='text-align:center;font-weight:bold;font-size:22px;word-wrap:break-word;'>
                    <span id="texto-resultado"></span>
                </p>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-supervisao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @if (Model.StatusDocumento == 1000)
                    {
                        <h4 class="modal-title">Supervisão!</h4>
                    }
                    else if (Model.StatusDocumento == 1020)
                    {
                        <h4 class="modal-title">Exclusão!</h4>
                    }
                    <br />
                    <small>Digite o código referente ao motivo.</small>
                </div>
                <div class="modal-body" id="myModalBody">
                    @*<button data-dismiss="modal">&times;</button>*@
                    @Html.Raw(ViewData["Just"].ToString())
                    <input type="hidden" id="txtValida" value=@Html.Raw(ViewData["Valida"].ToString()) />
                    <input type="Text" id="txtValor" name="txtValor"
                    onkeydown="return ( event.ctrlKey || event.altKey
                    || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
                    || (95<event.keyCode && event.keyCode<106)
                    || (event.keyCode==8) || (event.keyCode==9)
                    || (event.keyCode>34 && event.keyCode<40)
                    || (event.keyCode==46) )"
                    campo="8" class="" tabindex="1" value="" required="required" maxlength="1" />

                    @if (Model.StatusDocumento == 1000)
                    {
                        @*<a id="btn_salvarModal" class="btn btn-primary btn-sm" href="#">Salvar</a>*@
                        <div id="btn_salvarModal" class="btn btn-primary btn-sm">Salvar</div>
                    }
                    else if (Model.StatusDocumento == 1020)
                    {
                        <a id="btn_salvarModalExcluir" class="btn btn-danger" href="#"><i class="glyphicon glyphicon-trash"></i>&nbsp;excluir</a>
                    }
                     
                </div>
            
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button><br>
                </div>
                <hr />
            </div>
        </div>
     </div><!-- /.modal -->


    <input type="hidden" id="txtduplicidade1" name="txtduplicidade11" value="@Html.Raw(ViewData["dupliciadade"].ToString())" />

    
    <div class="ls-modal fade test" id="modal-duplicidade">
        <div class="ls-modal-box">
            <div class="ls-modal-header">
                <button data-dismiss="modal">&times;</button>
                <h4 class="ls-modal-title">Atenção: Para o documento digitado existem dois registros na base de dados.</h4>
                <br />
                <small>Favor selecionar a data de emissão correspondente a imagem apresentada.</small>
            </div>
            <div class="ls-modal-body" id="myModalBody">
                @Html.Raw(ViewData["dupliciadade"].ToString())
                <a id="btn_salvarModalDup" class="ls-btn-primary" href="#">Salvar</a>
            </div>
            <div class="ls-modal-footer">
                <button class="ls-btn ls-float-right" data-dismiss="modal">Cancelar</button><br>
            </div>
            <hr />
        </div>
    </div><!-- /.modal -->
}



